/* Danger Zone Description */
.danger-zone-description {
    color: color-mix(in srgb, var(--priority-high) 90%, transparent);
}

/* Danger Zone Actions */
.danger-zone-actions {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--priority-high);
    border-radius: 10px;
    margin-top: 20px;
}

/* Danger Zone Delete Action */
.danger-zone-delete-tasks {
    border-bottom: 1px solid var(--border);
}

/* Danger Zone Delete & Reset Actions */
.danger-zone-delete-tasks,
.danger-zone-reset-app {
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
} 

/* Danger Zone Action Description */
.danger-zone-action-description {
    color: var(--text-secondary);
}

/* Danger Zone Buttons */
.danger-zone-btn {
    text-wrap: nowrap;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    color: var(--priority-high);
    border: 1px solid var(--priority-high);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}
.danger-zone-btn:hover {
    color: var(--bg);
    background-color: var(--priority-high);
    font-weight: bold;
}
