.confirm-message {
    text-align: center;
    font-size: 17px;
    color: var(--text-primary);
    padding-bottom: 20px;
    border-bottom: 2px solid var(--border);
    margin-bottom: 30px;
}

.confirm-dialog-btn {
    display: flex;
    gap: 20px;
}

.confirm-dialog-btn button {
    border: 2px solid var(--priority-high);
    border-radius: 10px;
    font-size: 17px;
    padding: 10px 15px;
    flex: 1;
    cursor: pointer;
    transition: 0.25s;
}

.confirm-dialog-no-btn {
    color: var(--priority-high);
    background-color: transparent;
}
.confirm-dialog-no-btn:hover {
    color: var(--column);
    background-color: var(--priority-high);
    transform: scale(0.97);
}

.confirm-dialog-yes-btn {
    background-color: var(--priority-high);
    color: var(--column);
}
.confirm-dialog-yes-btn:hover {
    transform: scale(0.97);
}
